
body{background-color: black;}
.blocContent{background-color: black;  padding: 8px;}
.blocBanniere{background-image: url('../../images/banniere.jpg');}
.blocDiscographie{; background-repeat: no-repeat; background-position: center;}
.blocBio{); background-repeat: no-repeat; background-position: center;}
.blocStreaming{}
.blocLive{}
.plateformeMusique{background-color: black;border: 1px solid grey; padding:4px;}
    .plateforme{width: 20%;height:20%;}
li{list-style-type: none; margin: 4px;}
a:hover {color: #4beddc;}

header{background-color: black;}
